.Hero {
  size: relative;
  background: #dfdbd8;
  height: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 120px;
}

.HeroGroup {
  padding-top: 20px;
  text-align: left;
}

.primary {
  color: #dfdbd8;
}

.darkmode-layer {
  z-index: 500;
}
